/*
COLORS:

Light : #3872F6
Medium : #8d4fff
Dark : #A502F0
*/
/* --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0; */
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 1.7rem;
  color: #555;
  padding: 3rem;
  /* padding-top: 10px; */
  box-sizing: border-box;
  text-decoration: none;
  /* background-image: linear-gradient(to right bottom, rgba(149, 93, 233, 0.20) 10.8%, rgba(98, 88, 238, 0.20) 94.3%); */ }

.header__text-box {
  position: absolute;
  top: 55%;
  left: 53%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  /* border: 1px solid red; */
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    /* font-size: 60px; */
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* letter-spacing: 35px; */
    animation: moveInLeft 1s ease-out;
    text-indent: 0.6rem; }
  .heading-primary--sub {
    opacity: 0;
    display: block;
    /* line-height: 6rem; */
    margin-top: 4rem;
    font-size: 2.24rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: fadeIn 1s ease-in 500ms;
    animation-fill-mode: forwards; }

.heading-secondary {
  display: inline-block;
  padding: .3rem;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #3872F6 16%, #A502F0 65%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 200ms; }
  .heading-secondary:hover {
    transform: scale(102%);
    text-shadow: 0 1rem 1rem #8d4fff;
    font-weight: 900; }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(165, 2, 240, 0.8); }

.paragraph {
  font-size: 1.6rem;
  line-height: 2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translatey(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  70% {
    transform: translateY(0.3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-4rem); }
  80% {
    transform: translatex(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.3rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-large {
  margin-bottom: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-text-decoration-none {
  text-decoration: none !important;
  color: inherit !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.7rem 3.5rem;
  display: inline-block;
  border-radius: 8rem;
  transition: all 200ms;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.5rem);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.7); */
  box-shadow: 0 1.3rem 2rem rgba(165, 2, 240, 0.5); }
  .btn:hover::after {
    transform: scaleX(1.5) scaley(1.7);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1 0.6rem);
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.7); */
  box-shadow: 0 0.4rem 0.7rem rgba(165, 2, 240, 0.7); }

.btn--white {
  background-color: white;
  color: #a502f0;
  margin-top: 5.6rem;
  font-weight: 700;
  /* animation:moveUp 1.5s ease-out ;  */
  /* animation:moveUp 1s ease-out 500ms;  */
  /* animation-fill-mode: forwards; */
  /* opacity: 0;  */
  animation: moveInBottom 1.3s ease-out;
  font-size: 1.4rem; }
  .btn--white::after {
    background-color: white; }

.btn--perpule {
  background-color: rgba(141, 79, 255, 0.9);
  color: #fff;
  margin-top: 5.6rem;
  font-weight: 700;
  /* animation:moveUp 1.5s ease-out ;  */
  /* animation:moveUp 1s ease-out 500ms;  */
  /* animation-fill-mode: forwards; */
  /* opacity: 0;  */
  animation: moveInBottom 1.3s ease-out;
  font-size: 1.4rem; }
  .btn--perpule::after {
    background-color: rgba(141, 79, 255, 0.8); }

.btn--primary-light {
  background-color: rgba(56, 114, 246, 0.4);
  color: #fff;
  margin-top: 5.6rem;
  font-weight: 700;
  /* animation:moveUp 1.5s ease-out ;  */
  /* animation:moveUp 1s ease-out 500ms;  */
  /* animation-fill-mode: forwards; */
  /* opacity: 0;  */
  animation: moveInBottom 1.3s ease-out;
  font-size: 1.4rem; }
  .btn--primary-light::after {
    background-color: rgba(56, 114, 246, 0.5); }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 400ms; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  color: #8d4fff;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid #8d4fff;
  padding: 3px;
  transition: all 0.3s; }

.btn-text:hover {
  background-color: #8d4fff;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 1rem 1.5rem rgba(165, 2, 240, 0.5); }

.btn-text:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(165, 2, 240, 0.5); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 50rem;
    width: 100%;
    transition: all 800ms ease;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(165, 2, 240, 0.3); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #08da4e 50%, #0d943a); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #d63384 50%, #dc3545); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff 50%, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg) translateY(-3rem);
    box-shadow: 0 0.5rem 1rem rgba(165, 2, 240, 0.6); }
  .card__picture {
    background-size: cover;
    height: 45%;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #08da4e, #0d943a), url(../img/card-image-1.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #d63384, #dc3545), url(../img/card-image-2.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/card-image-3.jpg); }
  .card__heading {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    position: absolute;
    top: 9rem;
    left: 2rem; }
  .card__heading-span {
    padding: .5rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(8, 218, 78, 0.8), rgba(13, 148, 58, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(214, 51, 132, 0.8), rgba(220, 53, 69, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
    .card__details li {
      padding: 1.3rem;
      font-size: 1.6rem;
      text-align: center; }
      .card__details li:not(:last-child) {
        border-bottom: 0.2rem solid rgba(141, 79, 255, 0.2); }
  .card__cta {
    width: 90%;
    text-align: center;
    margin: 0 auto; }
    .card__cta__text {
      padding: 6rem;
      padding-top: 8rem;
      color: #fff;
      text-align: center; }
    .card__cta__price-only {
      font-size: 2rem;
      text-transform: uppercase;
      padding: 3rem; }
    .card__cta__price-value {
      padding-bottom: 4rem;
      font-size: 6rem;
      font-weight: 300; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(56, 114, 246, 0.5);
    border-radius: .5rem;
    transition: all 200ms;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 1rem;
      left: 23rem; }
    .composition__photo--p3 {
      top: 12rem;
      left: 7rem; }
    .composition__photo--p4 {
      top: 15rem;
      left: 33rem; }
    .composition__photo:hover {
      outline: 1.2rem solid rgba(141, 79, 255, 0.8);
      transform: scale(105%) rotate(0deg) translateY(-0.5rem);
      z-index: 1; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(90%); }

.feature--box {
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3rem 3rem 3rem 0;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(141, 79, 255, 0.6);
  transition: all 200ms; }
  .feature--box--icon {
    display: inline-block;
    background-image: linear-gradient(to right bottom, #3872F6 30%, #A502F0 65%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 5rem; }
  .feature--box:hover {
    transform: translateY(-2rem) scale(110%); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0rem 3rem 6rem rgba(141, 79, 255, 0.2);
  border-radius: 70px 5px;
  padding: 6rem;
  padding-left: 7.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 2.3rem;
  font-size: 1.6rem;
  transform: skewX(-14deg);
  backface-visibility: hidden; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circule(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(14deg);
    position: relative; }
  .story__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.5);
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(14deg); }
  .story__caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.7;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-family: inherit;
  font-size: 1.5rem;
  color: #a502f0;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(141, 79, 255, 0.5);
    border-bottom: 3px solid #8d4fff; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #d63384; }
  .form__input::-webkit-input-placeholder {
    color: rgba(165, 2, 240, 0.5); }

.form__label {
  color: #a502f0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.7rem;
  margin-left: 2rem;
  transition: all 0.3s;
  display: block; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  float: left; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-btn {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  border: 5px solid #8d4fff;
  border-radius: 50%;
  position: absolute;
  top: -0.5rem;
  left: 0; }
  .form__radio-btn::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #8d4fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-btn::after {
  opacity: 1; }

.form__radio-input {
  display: none; }

.header {
  position: relative;
  height: 95vh;
  text-decoration: none;
  background-image: linear-gradient(to right bottom, rgba(250, 157, 27, 0.3) 5%, rgba(141, 79, 255, 0.4) 80%), url(../img/hero1.webp);
  /* background-image:linear-gradient(to right bottom, rgba(250, 157, 27, 0.30) 5%, rgba(141, 79, 255, 0.50) 80%),url(../img/hero.jpg); */
  /* background-image:linear-gradient(to right bottom, rgba(250, 157, 27, 0.40) 5%, rgba(141, 79, 255, 0.40) 80%),url(../img/background.webp); */
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
  /* clip-path: polygon(0 0, 100% 0,100% 100%, 0 100%); */
  /* clip-path: polygon(0 0, 50% 0,30% 100%, 0 100%); */
  /* clip-path: polygon(0 0,100% 30%,100% 100%, 0 70%); */ }
  .header__logobox {
    position: absolute;
    top: 4rem;
    left: 4rem;
    animation: moveIn 1s ease-out; }
  .header__brand {
    font-size: 3.7rem;
    background: #3872F6;
    background-image: linear-gradient(to right, #3872F6 16%, #A502F0 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    /* font-family: serif; */
    /* text-transform: uppercase; */
    transition: all 200ms; }
    .header__brand:hover {
      background: #A502F0;
      background-image: linear-gradient(to right, #A502F0 39%, #3872F6 67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.navigation {
  position: relative;
  box-sizing: border-box;
  display: flex;
  /* border: 1px solid blue; */
  justify-content: flex-end;
  /* justify-content: center; */
  justify-items: center;
  /* justify-content: space-between; */
  flex-basis: 10%;
  flex-grow: 0;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  animation: moveIn 1s ease-out; }

.navlist {
  text-decoration: none;
  position: absolute;
  box-sizing: border-box;
  top: auto;
  left: 50%;
  text-decoration: none;
  display: flex;
  /* border: 1px solid red; */
  background: linear-gradient(to right bottom, rgba(13, 109, 253, 0.4), rgba(102, 16, 242, 0.4));
  border-radius: 1.6rem;
  /* margin-top: 3.3rem; */
  position: absolute;
  top: 3.2rem;
  left: 80rem;
  /* right: -10rem; */ }

.navitems {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  /* border: 1px solid white; */
  /* flex-basis: 10%; */
  padding: 1.2rem 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  /* font-weight: 700; */
  text-transform: uppercase;
  transition: all 200ms; }

.currentpage {
  background-image: linear-gradient(to right, #3872F6 16%, #A502F0 65%);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700; }

.navitems:hover, .currentpage:hover {
  animation: fadeIn 500ms linear;
  background: linear-gradient(to right bottom, rgba(218, 34, 255, 0.7) 0%, rgba(151, 51, 238, 0.7) 51%, rgba(218, 34, 255, 0.7) 100%);
  border-radius: 1.6rem;
  /* font-weight: 700; */
  color: #fff; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc((2*(100% - 2 * 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 6rem)/4) +  2*6rem); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  .footer__logobox {
    text-align: center; }
  .footer__logo {
    display: block;
    margin: 0 auto;
    width: 15rem;
    height: 15rem;
    margin-bottom: 6rem; }
  .footer__navigation {
    border-top: 2px solid rgba(141, 79, 255, 0.5);
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #eee;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    text-decoration: underline;
    color: #8d4fff; }
  .footer__copyright {
    border-top: 2px solid rgba(141, 79, 255, 0.5);
    padding-top: 2rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #eee; }

.section-about {
  background-color: rgba(141, 79, 255, 0.2);
  padding: 20rem 0;
  margin-top: -10vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(250, 157, 27, 0.6) 5%, rgba(141, 79, 255, 0.6) 80%), url(../img/sea-side-img.webp);
  background-size: cover;
  transform: skewY(3deg);
  margin-top: -5vh; }
  .section-features > * {
    transform: skewY(-3deg); }

.section-tours {
  background-color: rgba(141, 79, 255, 0.2);
  padding: 20rem 0 10rem;
  margin-top: -10vh; }

.section-stories {
  position: relative;
  padding: 15rem 0rem;
  background-color: rgba(141, 79, 255, 0.2); }

.section-book {
  padding: 15rem 0rem;
  background-image: linear-gradient(to right bottom, rgba(56, 114, 246, 0.8), rgba(165, 2, 240, 0.8)); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url("../img/travel-plan-3.jpg");
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 2rem 5rem rgba(214, 51, 132, 0.5);
  height: 50rem; }
  .book__form {
    width: 50%;
    padding: 5rem; }

@media (max-width: 320px) {
  html {
    font-size: 25.5%;
    overflow: hidden; }
  .navigation {
    display: none; } }

@media (min-width: 320px) and (max-width: 680px) {
  html {
    font-size: 25.5%;
    overflow: hidden; }
  .navigation {
    display: none; } }

@media (min-width: 680px) and (max-width: 768px) {
  html {
    font-size: 30%;
    overflow: hidden; } }

@media (min-width: 800px) and (max-width: 1024px) {
  html {
    font-size: 44%;
    overflow: hidden; } }

@media (min-width: 1024px) and (max-width: 1440px) {
  html {
    font-size: 44%;
    overflow: hidden; } }
